# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Ignore editor settings
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# Ignore log files
*.log

# Ignore OS metadata
ehthumbs.db
Desktop.ini

# Ignore customized templates (not for commit)
.bashrc_tunnels.txt
*/ssh_config.yaml
.current_profile
.last_profile

